In [ ]:
import pandas as pd

lista = [1, 2, 3, 4, 5, 6, 7, 8, 9]

series = pd.Series(lista)

print(series)
print("aaaaa")
print(lista)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64
aaaaa
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
import pandas as pd

lista = [1, 2, 3, 4, 5, 6, 7, 8, 9]

series = pd.Series(lista, index=["zero", "um", "dois", "tres", "quatro", "cinco", "seis", "sete", "oito"])

print(series)

zero      1
um        2
dois      3
tres      4
quatro    5
cinco     6
seis      7
sete      8
oito      9
dtype: int64

In [ ]:
import pandas as pd

lista = [1, 2, 3, 4, 5, 6, 7, 8, 9]

series = pd.Series(lista, index=["zero", "um", "dois", "tres", "quatro", "cinco", "seis", "sete", "oito"])

print(series.index)

Index(['zero', 'um', 'dois', 'tres', 'quatro', 'cinco', 'seis', 'sete',
       'oito'],
      dtype='object')

In [ ]:
import pandas as pd

lista = [1, 2, 3, 4, 5, 6, 7, 8, 9]

series = pd.Series(lista, index=["zero", "um", "dois", "tres", "quatro", "cinco", "seis", "sete", "oito"])

series[series>4]

quatro    5
cinco     6
seis      7
sete      8
oito      9
dtype: int64

In [ ]:
import pandas as pd

lista = [1, 2, 3, 4, 5, 6, 7, 8, 9]

series = pd.Series(lista, index=["zero", "um", "dois", "tres", "quatro", "cinco", "seis", "sete", "oito"])

series*10

zero      10
um        20
dois      30
tres      40
quatro    50
cinco     60
seis      70
sete      80
oito      90
dtype: int64

In [ ]:
import pandas as pd

dataset = {
    'Cidades': ['Florianópolis', 'Joinville', 'Criciúma', 'Lages', 'Brusque'],
    'Populacao': [508826, 604700, 215987, 157749, 134808], # Added approximate population data
    'IDH': [0.847, 0.794, 0.785, 0.777, 0.775], # Added approximate IDH data
    'Ano de Emancipacao': [1726, 1851, 1925, 1766, 1860] # Added approximate emancipation year
}

# Create a DataFrame from the dataset
dataframe_sc = pd.DataFrame(dataset)

# Display the DataFrame
display(dataframe_sc)

         Cidades  Populacao    IDH  Ano de Emancipacao
0  Florianópolis     508826  0.847                1726
1      Joinville     604700  0.794                1851
2       Criciúma     215987  0.785                1925
3          Lages     157749  0.777                1766
4        Brusque     134808  0.775                1860

In [ ]:
import pandas as pd

dataset = {
    'Cidades': ['Florianópolis', 'Joinville', 'Criciúma', 'Lages', 'Brusque'],
    'Populacao': [508826, 604700, 215987, 157749, 134808], # Added approximate population data
    'IDH': [0.847, 0.794, 0.785, 0.777, 0.775], # Added approximate IDH data
    'Ano de Emancipacao': [1726, 1851, 1925, 1766, 1860] # Added approximate emancipation year
}

dataframe_sc = pd.DataFrame(dataset)

# ver primeiras linhas
print(dataframe_sc.head(3))

print('-----')

# ver ultimas linhas
print(dataframe_sc.tail(3))

         Cidades  Populacao    IDH  Ano de Emancipacao
0  Florianópolis     508826  0.847                1726
1      Joinville     604700  0.794                1851
2       Criciúma     215987  0.785                1925
-----
    Cidades  Populacao    IDH  Ano de Emancipacao
2  Criciúma     215987  0.785                1925
3     Lages     157749  0.777                1766
4   Brusque     134808  0.775                1860

In [ ]:
import pandas as pd

dataset = {
    'Cidades': ['Florianópolis', 'Joinville', 'Criciúma', 'Lages', 'Brusque'],
    'Populacao': [508826, 604700, 215987, 157749, 134808], # Added approximate population data
    'IDH': [0.847, 0.794, 0.785, 0.777, 0.775], # Added approximate IDH data
    'Ano de Emancipacao': [1726, 1851, 1925, 1766, 1860] # Added approximate emancipation year
}

dataframe_sc = pd.DataFrame(dataset)

# ver primeiras linhas
print(dataframe_sc['Populacao'])

0    508826
1    604700
2    215987
3    157749
4    134808
Name: Populacao, dtype: int64

In [ ]:
import pandas as pd

dataset = {
    'Cidades': ['Florianópolis', 'Joinville', 'Criciúma', 'Lages', 'Brusque'],
    'Populacao': [508826, 604700, 215987, 157749, 134808], # Added approximate population data
    'IDH': [0.847, 0.794, 0.785, 0.777, 0.775], # Added approximate IDH data
    'Ano de Emancipacao': [1726, 1851, 1925, 1766, 1860] # Added approximate emancipation year
}

dataframe_sc = pd.DataFrame(dataset)

# mudar posicao
dataframe_sc2 = pd.DataFrame(dataset, columns=['Populacao', 'IDH', 'Ano de Emancipacao', 'Cidades'])

# adicionar nova coluna
dataframe_sc2['Regiao'] = 'Sul'

print(dataframe_sc2)

   Populacao    IDH  Ano de Emancipacao        Cidades Regiao
0     508826  0.847                1726  Florianópolis    Sul
1     604700  0.794                1851      Joinville    Sul
2     215987  0.785                1925       Criciúma    Sul
3     157749  0.777                1766          Lages    Sul
4     134808  0.775                1860        Brusque    Sul

In [ ]:
import pandas as pd

dataset = {
    'Cidades': ['Florianópolis', 'Joinville', 'Criciúma', 'Lages', 'Brusque'],
    'Populacao': [508826, 604700, 215987, 157749, 134808], # Added approximate population data
    'IDH': [0.847, 0.794, 0.785, 0.777, 0.775], # Added approximate IDH data
    'Ano de Emancipacao': [1726, 1851, 1925, 1766, 1860] # Added approximate emancipation year
}

dataframe_sc = pd.DataFrame(dataset)

# mudar posicao
dataframe_sc2 = pd.DataFrame(dataset, columns=['Populacao', 'IDH', 'Ano de Emancipacao', 'Cidades'])

# adicionar nova coluna CONDICIONAL
dataframe_sc2['Grande'] = dataframe_sc2['Populacao'] >= 300000

print(dataframe_sc2)

   Populacao    IDH  Ano de Emancipacao        Cidades  Grande
0     508826  0.847                1726  Florianópolis    True
1     604700  0.794                1851      Joinville    True
2     215987  0.785                1925       Criciúma   False
3     157749  0.777                1766          Lages   False
4     134808  0.775                1860        Brusque   False

In [ ]:
import pandas as pd

dataset = {
    'Cidades': ['Florianópolis', 'Joinville', 'Criciúma', 'Lages', 'Brusque'],
    'Populacao': [508826, 604700, 215987, 157749, 134808], # Added approximate population data
    'IDH': [0.847, 0.794, 0.785, 0.777, 0.775], # Added approximate IDH data
    'Ano de Emancipacao': [1726, 1851, 1925, 1766, 1860] # Added approximate emancipation year
}

dataframe_sc = pd.DataFrame(dataset)

# mudar posicao
dataframe_sc2 = pd.DataFrame(dataset, columns=['Populacao', 'IDH', 'Ano de Emancipacao', 'Cidades'])

# adicionar nova coluna
dataframe_sc2['Regiao'] = 'Sul'

print(dataframe_sc2)
print('--------------------------------------------')

# EXCLUIR COLUNA
dataframe_sc2.drop('Regiao', axis=1, inplace=True)

print(dataframe_sc2)

   Populacao    IDH  Ano de Emancipacao        Cidades Regiao
0     508826  0.847                1726  Florianópolis    Sul
1     604700  0.794                1851      Joinville    Sul
2     215987  0.785                1925       Criciúma    Sul
3     157749  0.777                1766          Lages    Sul
4     134808  0.775                1860        Brusque    Sul
--------------------------------------------
   Populacao    IDH  Ano de Emancipacao        Cidades
0     508826  0.847                1726  Florianópolis
1     604700  0.794                1851      Joinville
2     215987  0.785                1925       Criciúma
3     157749  0.777                1766          Lages
4     134808  0.775                1860        Brusque

In [ ]:
import pandas as pd

dataset = {
    'Cidades': ['Florianópolis', 'Joinville', 'Criciúma', 'Lages', 'Brusque'],
    'Populacao': [508826, 604700, 215987, 157749, 134808], # Added approximate population data
    'IDH': [0.847, 0.794, 0.785, 0.777, 0.775], # Added approximate IDH data
    'Ano de Emancipacao': [1726, 1851, 1925, 1766, 1860] # Added approximate emancipation year
}

dataframe_sc = pd.DataFrame(dataset)

# mudar posicao
dataframe_sc2 = pd.DataFrame(dataset, columns=['Populacao', 'IDH', 'Ano de Emancipacao', 'Cidades'])

# adicionar nova coluna
dataframe_sc2['Regiao'] = 'Sul'

print(dataframe_sc2)
print('--------------------------------------------')

# EXCLUIR LINHA
dataframe_sc2.drop(1, axis=0, inplace=True)

print(dataframe_sc2)

   Populacao    IDH  Ano de Emancipacao        Cidades Regiao
0     508826  0.847                1726  Florianópolis    Sul
1     604700  0.794                1851      Joinville    Sul
2     215987  0.785                1925       Criciúma    Sul
3     157749  0.777                1766          Lages    Sul
4     134808  0.775                1860        Brusque    Sul
--------------------------------------------
   Populacao    IDH  Ano de Emancipacao        Cidades Regiao
0     508826  0.847                1726  Florianópolis    Sul
2     215987  0.785                1925       Criciúma    Sul
3     157749  0.777                1766          Lages    Sul
4     134808  0.775                1860        Brusque    Sul

In [ ]:
import pandas as pd

dataset = {
    'Cidades': ['Florianópolis', 'Joinville', 'Criciúma', 'Lages', 'Brusque'],
    'Populacao': [508826, 604700, 215987, 157749, 134808], # Added approximate population data
    'IDH': [0.847, 0.794, 0.785, 0.777, 0.775], # Added approximate IDH data
    'Ano de Emancipacao': [1726, 1851, 1925, 1766, 1860] # Added approximate emancipation year
}

dataframe_sc = pd.DataFrame(dataset)

# mudar posicao
dataframe_sc2 = pd.DataFrame(dataset, columns=['Populacao', 'IDH', 'Ano de Emancipacao', 'Cidades'])

# adicionar nova coluna
dataframe_sc2['Regiao'] = 'Sul'

print(dataframe_sc2)
print('--------------------------------------------')

# MUDAR OS NOMES
dataframe_sc2.rename(columns={'Cidades': 'Cidade'}, inplace=True)
dataframe_sc2.rename(columns={'Ano de Emancipacao': 'Emancipacao'}, inplace=True)

print(dataframe_sc2)

   Populacao    IDH  Ano de Emancipacao        Cidades Regiao
0     508826  0.847                1726  Florianópolis    Sul
1     604700  0.794                1851      Joinville    Sul
2     215987  0.785                1925       Criciúma    Sul
3     157749  0.777                1766          Lages    Sul
4     134808  0.775                1860        Brusque    Sul
--------------------------------------------
   Populacao    IDH  Emancipacao         Cidade Regiao
0     508826  0.847         1726  Florianópolis    Sul
1     604700  0.794         1851      Joinville    Sul
2     215987  0.785         1925       Criciúma    Sul
3     157749  0.777         1766          Lages    Sul
4     134808  0.775         1860        Brusque    Sul

In [ ]:
import pandas as pd

dataset = {
    'Cidades': ['Florianópolis', 'Joinville', 'Criciúma', 'Lages', 'Brusque'],
    'Populacao': [508826, 604700, 215987, 157749, 134808], # Added approximate population data
    'IDH': [0.847, 0.794, 0.785, 0.777, 0.775], # Added approximate IDH data
    'Ano de Emancipacao': [1726, 1851, 1925, 1766, 1860] # Added approximate emancipation year
}

dataframe_sc = pd.DataFrame(dataset)

# TIPOS DE DADOS
dataframe_sc.dtypes

Cidades                object
Populacao               int64
IDH                   float64
Ano de Emancipacao      int64
dtype: object

In [ ]:
import pandas as pd

dataset = {
    'Cidades': ['Florianópolis', 'Joinville', 'Criciúma', 'Lages', 'Brusque'],
    'Populacao': [508826, 604700, 215987, 157749, 134808], # Added approximate population data
    'IDH': [0.847, 0.794, 0.785, 0.777, 0.775], # Added approximate IDH data
    'Ano de Emancipacao': [1726, 1851, 1925, 1766, 1860] # Added approximate emancipation year
}

dataframe_sc = pd.DataFrame(dataset)

# CONTAR QUANTOS ELEMENTOS EM CADA CATEGORIA (BOM PARA VER SE TEM COISA FLATANDO)
dataframe_sc.count()

Cidades               5
Populacao             5
IDH                   5
Ano de Emancipacao    5
dtype: int64

In [ ]:
import pandas as pd

dataset = {
    'Cidades': ['Florianópolis', 'Joinville', 'Criciúma', 'Lages', 'Brusque'],
    'Populacao': [508826, 604700, 215987, 157749, 134808], # Added approximate population data
    'IDH': [0.847, 0.794, 0.785, 0.777, 0.775], # Added approximate IDH data
    'Ano de Emancipacao': [1726, 1851, 1925, 1766, 1860] # Added approximate emancipation year
}

dataframe_sc = pd.DataFrame(dataset)

# ANALISE DESCRITIVA DE DADOS METODO DESCRIBE
dataframe_sc.describe()

           Populacao       IDH  Ano de Emancipacao
count       5.000000  5.000000            5.000000
mean   324414.000000  0.795600         1825.600000
std    216824.871342  0.029695           79.342927
min    134808.000000  0.775000         1726.000000
25%    157749.000000  0.777000         1766.000000
50%    215987.000000  0.785000         1851.000000
75%    508826.000000  0.794000         1860.000000
max    604700.000000  0.847000         1925.000000